<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects Page</title>

</head>
<body>
    {{> header}}
 
    <p><u> {{welcomeMessage}}</u></p>
    <li>Project 1</li>
    <li>Project 2</li>

{{> footer}}
</body>
</html>